* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  overflow: hidden;
}

h2 {
  font-family: "Merriweather", "Roboto", sans-serif;
  margin-top: 15px;
}

.myCanvas {
  border: 1px solid black;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.stroke-width{
  width:70px
}

.canvas-container{
  text-align: left;
}